/* Box Model Hack */
* {
  box-sizing: border-box;
}


/* LAYOUT */

h1, h2 {
  text-align: center;
}

img {
  display: block;
  height: 300px;
  margin: 0 auto;
}

ul {
  display: flex;
  gap: .25rem;
  width: 27rem;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}

li {
  width: 3rem;
  height: 3rem;
  border: 2px solid silver;
  border-radius: 50%;
}

/* ADDITIONAL STYLES */

#black {
  background: black;
}

#red {
  background: red;
}

#orange {
  background: orange;
}

#yellow {
  background: yellow;
}

#green {
  background: green;
}

#blue {
  background: blue;
}

#indigo {
  background: indigo;
}

#violet {
  background: violet;
}

#white {
  background: white;
}