body * {
    box-sizing: border-box;
    text-align: center;
}

section div {
    float: left;
    width: 33.3%;
}

section + section div {
    width: 50%;
}

div {
    height: 100px;
}

header, section, footer {
    clear: both;
    height: 50px;
}

header, footer, div {
    border: 1px solid black;
}