
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  display: block;
  margin: 1rem auto;
  width: 100%;
}

h3 {
  font-weight: 400;
  font-size: 1rem;
}

input {
  margin: 1rem 0;
}