.cinzel-font {
    font-family: "Cinzel", serif;
}

.mulish-font {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}  

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    font-family: "Cinzel", serif;
}

h2 {
    font-size: 3rem;
    font-weight: 400;
    line-height: 4rem;
}

h3 {
    font-weight: 400;
}

h4 {
    font-size: 1.45rem;
    font-weight: 400;
}

p {
    font-family: "Mulish", sans-serif;
    font-size: .9rem;
    line-height: 1.75rem;
    color: #737373;
}

button {
    background-color: black;
    color: #efeaee;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    font-size: .8rem;
}

button:hover {
    cursor: pointer;
}

.button-modifier {
    display: none;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 2rem;
}

header img {
    width: 20%;
    height: 20%;
}

.mobile-nav {
    font-size: 1.5rem;
}

.widescreen-nav {
    display: none;
}

/* HERO SECTION */

.hero {
    width: 100%;
    padding-top: 56.25%;
    padding-bottom: 16.5%;
    background-image: url("img/hero.jpg");
    background-repeat: no-repeat;
    background-size: 130%;
    background-position: top;
    padding-left: 2rem;
}

.hero h1 {
    color: white;
    margin-top: -40%;
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 4rem;
}

.hero button {
    margin-top: 1.5rem;
    padding: .5rem 1rem;
}

.hero p, .hours, .book {
    display: none;
}

/* QUALITY SECTION */

.quality {
    text-align: center;
    padding: 6rem 2.5rem 5rem;
}

.quality section {
    margin-bottom: 2rem;
}

.quality h3 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

/* MOMENTUM SECTION */

.momentum {
    background-color: #efeaee;
    padding: 7rem 1rem;
}

.momentum h2 {
    margin-bottom: 2rem;
    padding: 0 1rem;
}

.momentum p {
    padding: 0 1rem;
}

.momentum button {
    margin: 2.75rem 1rem;
    padding: 1rem 2rem;
}

.momentum div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 56.25%;
    background-image: url("img/video.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.momentum img {
    margin-top: -50%;
}

/* STYLERS SECTION */

.stylers {
    text-align: center;
    padding: 6rem 2rem;
}

.separator {
    border: 2px solid black;
    width: 2rem;
    margin: 1.5rem auto 3rem;
}

.styler {
    margin-top: 3rem;
}

.styler img {
    margin-bottom: 1rem;
    width: 90%;
}

.styler span {
    display: inline-block;
    font-family: "Mulish", sans-serif;
    font-size: .9rem;
    margin-top: .5rem;
    text-transform: uppercase;
    color: #737373;
}

/* OFFER SECTION */

.offer {
    background-color: #efeaee;
    width: 100%;
    padding: 5rem 2rem 7rem 7rem;
}

.offer h2 {
    font-size: 1.5rem;
}

.offer p {
    font-family: "Cinzel", serif;
    font-size: 2.5rem;
    line-height: 4rem;
    text-transform: uppercase;
    color: black;
    margin-bottom: 1rem;
}

/* LOOKBOOK SECTION */

.lookbook {
    padding: 6rem 1rem 7rem;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: .75rem;
}

.gallery img {
    width: 100%;
}

.gallery-770, .gallery-992 {
    display: none;
}

/* FOOTER */

.popular-posts section > img,
.footer-lookbook img:hover,
.social-icon:hover,
.end nav a:hover {
    cursor: pointer;
}

footer {
    background-color: black;
    color: #efeaee;
    padding: 2.75rem 2rem 0;
}

footer div > section {
    margin-bottom: 3rem;
    width: 60%;
}

footer .separator {
    border: 2px solid #efeaee;
    border-radius: .25rem;
    width: 2rem;
    margin: 1.5rem 0;
}

footer p {
    color: #efeaee;
    line-height: 1.55rem;
}

/* contact info */

.footer-contact-info p {
    display: flex;
    align-items: center;
    padding: .5rem 0;
}

.footer-contact-info img {
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
}

/* popular posts */

.popular-posts section {
    display: flex;
    border-bottom: 1px solid #272727;
    margin-bottom: .75rem;
}

.popular-posts section:last-child {
    border-bottom: none;
}

.popular-posts section > img {
    width: 3rem;
    margin: 0 1rem .75rem 0;
}

.popular-post h4, .popular-post span {
    font-family: "Mulish", sans-serif;
    font-size: .9rem;
}

.popular-post h4 {
    color: white;
    margin: .25rem 0 .5rem 0;
}

.popular-post span {
    display: flex;
    align-items: center;
    color: #b3b3b3;
}

.popular-post span img {
    width: .8rem;
    height: .8rem;
    margin-right: .5rem;
}

/* lookbook */

.footer-lookbook-container {
    margin-bottom: 1.5rem;
}

.footer-lookbook {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.footer-lookbook img {
    width: 4.75rem;
}

/* social media icons */

.social {
    display: flex;
    color: black;
    margin-bottom: 1rem;
}

.social-icon {
    border-radius: 50%;
    background-color: #efeaee;
    width: 2.75rem;
    height: 2.75rem;
    margin: .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* copyright & nav */

.end {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #272727;
    padding: 2rem;
}

small {
    font-family: "Mulish", sans-serif;
    margin-bottom: 1.75rem;
}

.end nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

.end nav a {
    font-family: "Mulish", sans-serif;
    font-size: .9rem;
    color: #efeaee;
    text-decoration: none;
}

/* MEDIA QUERIES */

@media screen and (min-width: 677px) {
    footer > div {
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
    }

    footer div > section {
        margin-bottom: 0;
        width: 45%;
    }
}

@media screen and (min-width: 770px) {
    .button-modifier {
        display: inline;
        margin-right: .5rem;
    }

    .offer {
        background-color: #efeaee;
        background-image: url("img/offer-bk.jpg");
        max-width: 990px;
        margin: 0 auto;
        padding: 5rem 2rem 9rem 7rem;
    }

    .offer p {
        max-width: 30rem;
    }

    .gallery {
        display: none;
    }

    .gallery-770 {
        display: flex;
        flex-wrap: wrap;
        gap: .75rem;
        margin-top: 4rem;
    }

    .gallery-770 > img {
        width: 49%;
    }

    
    .gallery-flex {
        display: flex;
        flex-direction: column;
        width: 49%;
        gap: .75rem;
    }

    .gallery-move-up {
        margin-top: -.75rem;
    }

    .styler img {
        width: 55%;
    }
}

@media screen and (min-width: 992px) {
    .styler-gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .styler img {
        width: 100%;
    }

    .gallery-770 {
        display: none;
    }

    .gallery-992 {
        display: flex;
        flex-wrap: wrap;
        gap: .75rem;
        margin-top: 4rem;
    }

    .gallery-992 div {
        display: flex;
        flex-direction: column;
        gap: .75rem;
        width: 32.485%;
    }

    .quality {
        display: flex;
        flex-wrap: wrap;
        margin-top: -16rem;
    }
    
    .quality section {
        width: 50%;
        padding: 0 1.5rem;
    }

    header {
        padding: 2.25rem 2rem;
    }
    
    header img {
        width: 10%;
        height: 10%;
    }

    .hero {
        background-size: 105%;
        position: relative;
    }
    
    .hero h1 {
        margin-left: 1.5rem;
        font-size: 5.5rem;
        line-height: 6rem;
    }

    .hero > p {
        display: block;
        font-family: "Cinzel", serif;
        letter-spacing: .15rem;
        font-weight: 600;
        color: #efeaee;
        margin-left: 1.5rem;
        margin-top: 2rem;
    }

    .hours {
        display: inline-block;
        position: absolute;
        right: 3rem;
        top: 13%;
        writing-mode: vertical-lr;
        font-size: .9rem;
        font-weight: 600;
        letter-spacing: .2rem;
        color: #efeaee;
    }

    .hero > button {
        display: none;
    }

    .book {
        background-color: black;
        color: white;
        margin: 2rem 0 0 -1.5rem;
        padding: 2rem;
        width: 14.5rem;
        display: block;
        position: relative;
    }

    .book h4 {
        font-size: 1.15rem;
    }

    .book p {
        display: inline-block;
        font-family: "Cinzel", serif;
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 2.5rem;
        letter-spacing: .05rem;
        margin-top: 1.5rem;
        color: white;
    }

    .book button {
        background-color: white;
        color: black;
        padding: 1rem 0;
        width: 100%;
        border: none;
    }
}

@media screen and (min-width: 1024px) {
    .hero h1,
    .hero > p,
    .hero > button{
        margin-left: -2rem;
    }

    .hero {
        background-size: 130%;
    }

    .hero > button {
        display: inline-block;
        font-size: .9rem;
    }

    .book {
        margin: 1rem 0 0 -1.5rem;
    }

    .quality {
        margin-top: -9rem;
    }

    .momentum {
        padding: 7rem 2rem;
    }
}

@media screen and (min-width: 1200px) {
    .quality section {
        width: 33%;
    }

    .stylers {
        padding: 6rem 1rem;
    }

    .styler-gallery {
        gap: 1rem;
    }

    .styler {
        width: 23%;
    }

    footer > div {
        gap: 1rem;
        justify-content: space-between;
    }

    footer div > section {
        margin-bottom: 0;
        width: 23.5%;
    }

    .social {
        margin-top: -6rem;
    }
}