/* Box Model Hack */
*{
  box-sizing: border-box;
}


/* LAYOUT */

h1, h2 {
  text-align: center;
}

ul {
  width: 100px;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 94px;
  height: 49px;
  border: 1px solid black;
  border-radius: .25rem;
  margin-bottom: .5rem;
}

li:hover {
  background: lightgray;
}