body {
    padding: 50px;
    margin: 30px;
    border: 4px solid #4dc843;
    background-color: #87ceea;
}

header {
    text-align: center;
}

main img {
    width: 33%;
    float: right;
    margin: 0 0 10px 10px;
}