body {
    padding: 50px;
    margin: 30px auto;
    border: 4px solid #4dc843;
    background-color: #87ceea;
    color: white;
    max-width: 540px;
}

h1 {
    text-align: center;
    font-style: italic;
}

main img {
    width: 33%;
    float: right;
    margin: 0 0 10px 10px;
}

/* NAV */

nav {
    text-align: center;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
}

a {
    color: #4dc843;
    /* text-decoration: none; */
    
}

ul > span {
    color: #6f8490;
}

header li:first-child > a:first-child {
    color: white;
}