* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #66768A;
    color: #F1F1F1;
    text-transform: uppercase;
    padding: 1rem 2.5rem;
    margin-bottom: 0;
}

header button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: .75rem;
    text-transform: uppercase;
    background-color: #FFFFFF;
    color: #66768A;
    border: none;
    outline: none;
    height: 2rem;
    border-radius: .25rem;
    padding: .25rem .5rem;
    box-sizing: border-box;
}

/* NAV */

nav ul {
    display: flex;
    padding: 0;
}

nav ul li {
    list-style: none;
}

nav ul li:first-child {
    margin-right: 1.5rem;
}

nav ul li a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: .75rem;
}

nav ul li a:hover {
    cursor: pointer;
}

/* MAIN */

main {
    background-color: #66768A;
    color: #F1F1F1;
    text-align: center;
    padding-top: 3.25rem;
    font-family: "Oswald", sans-serif;
}

main h1 {
    font-size: 4rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 0;
}

main p {
    width: 73%;
    margin: 0 auto;
    font-size: 1.25rem;
}

.main-video {
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
}

.main-video span {
    padding-left: .5rem;
}

.main-img {
    margin-top: 4rem;
    padding-bottom: 2rem;
    color: #3F4251;
    font-style: italic;
}

/* WHY / VOLUNTEER */

.why, .volunteer {
    font-family: "Oswald", sans-serif;
    text-align: center;
    margin: 7rem 0;
}

.why h2, .volunteer h2 {
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.why p, .volunteer p {
    width: 50%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.4rem;
    color: #3F4251;
}

/* VISIT */

.visit {
    background-color: #DBDFE2;
    display: flex;
    padding: 6.5rem 0;
    font-family: "Oswald", sans-serif;
    text-align: center;
    justify-content: center;
    gap: 2rem;
}

.visit section {
    width: 35%;
}

.visit h3 {
    text-transform: uppercase;
}

.visit p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4rem;
    color: #3F4251;
}

.visit-img {
    width: 30vw;
    height: 20vh;
    background-color: #66768A;
    margin: auto;
}

.visit button {
    background-color: #DBDFE2;
    border: 1px solid #979797;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .9rem;
    height: 3rem;
    width: 10rem;
}

/* VOLUNTEER */

.volunteer button {
    background-color: white;
    border: 1px solid #979797;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .9rem;
    height: 3rem;
    width: 10rem;
    margin-top: 2rem;
}

/* FOOTER */

footer {
    background-color: #161F2A;
    color: #F1F1F1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8rem;
    padding: 2rem 2.5rem;
}

footer > section {
    display: flex;
    justify-content: space-between;
}

footer h4 {
    text-transform: uppercase;
}

.contact h4 {
    color: #66768A;
    margin-bottom: .25rem;
}

.footer-links {
    width: 7rem;
    display: flex;
    justify-content: space-between;
}

.footer-links a {
    color: #F1F1F1;
}

address {
    font-style: normal;
}

address p {
    color: #DBDFE2;
    line-height: .25rem;
}

address a {
    color: #F1F1F1;
}

.tax-exempt {
    border-top: 1px solid #F1F1F1;
    padding-top: .5rem;
    margin-top: 2rem;
}