* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #66768A;
    color: #F1F1F1;
    text-transform: uppercase;
    padding: 1rem 2.5rem;
}

header button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: .75rem;
    text-transform: uppercase;
    background-color: #FFFFFF;
    color: #66768A;
    border: none;
    outline: none;
    height: 2rem;
    border-radius: .25rem;
    padding: .25rem .5rem;
    box-sizing: border-box;
}

/* NAV */

nav ul {
    display: flex;
    padding: 0;
}

nav ul li {
    list-style: none;
}

nav ul li:first-child {
    margin-right: 1.5rem;
}

nav ul li a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: .75rem;
}

nav ul li a:hover {
    cursor: pointer;
}