* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: .5rem;
}

.author {
    font-weight: 600;
    font-size: .75rem;
    margin-top: 0;
}

/* HEADER */

header {
    outline: 1px solid red;
    width: 15%;
    float: left;
}

header nav {
    margin-top: 2rem;
}

header ul {
    list-style: none;
    padding: 0;
}

header li {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

header a {
    color: #999999;
    text-decoration: none;
}

header p {
    margin-bottom: 0;
}

header p + p {
    margin-top: .5rem;
}

.extra-crunch a {
    color: #FFA63C;
    font-weight: 600;
}

/* MAIN / TOP STORIES */

.above-the-fold {
    width: 85%;
    outline: 1px solid black;
    float: left;
}

.top-story {
    width: 65%;
    float: left;
    padding-right: 3rem;
}

.top-story h1 {
    font-size: 2.1rem;
    font-weight: 800;
    letter-spacing: -2.75px;
    margin-bottom: 0;
}

.top-story p {
    color: #999999;
    font-size: 1.1rem;
    margin: .5rem 0;
}

.top-story img {
    width: 100%;
    margin-top: .5rem;
}



/* HEADLINES */

.headlines {
    width: 35%;
    float: left;
}

.headlines ul {
    padding: 0;
}

.headlines ul li {
    list-style: none;
}

.headlines h2 {
    margin-bottom: .5rem;
}

/* LATEST */

.latest {
    clear: both;
}

.latest article > * {
    float: left;
    width: 33.3333%;
}

.latest article h2 {
    font-size: 1.85rem;
    font-weight: 800;
    letter-spacing: -2.75px;
    margin-bottom: .5rem;
    padding-right: 3.5rem;
}

.latest article p {
    color: #999999;
    margin-bottom: 0;
}

.latest article img {
    width: 100%;
    padding-left: 1.5rem;
}

.article-time {
    margin-top: .25rem;
    font-size: .75rem;
}