* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* HEADER */

header {
    width: 15%;
    outline: 1px solid red;
    float: left;
}

/* MAIN / TOP STORIES */

.above-the-fold {
    width: 85%;
    outline: 1px solid black;
    float: left;
}

.top-story {
    width: 65%;
    outline: 1px solid orange;
    float: left;
}

h1 {
    font-size: 2.1rem;
    font-weight: 800;
    letter-spacing: -2.75px;
}

/* HEADLINES */

.headlines {
    width: 35%;
    outline: 1px solid yellowgreen;
    float: left;
}

/* LATEST */

.latest {
    outline: 1px solid blue;
    clear: both;
}