/* Box Model Hack */
*{
  box-sizing: border-box;
}

body {
  padding: 1rem;
  max-width: 650px;
  margin: 0 auto;
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

section {
  width: 45%;
}

label {
  display: block;
  width: 100%;
}