* {
    box-sizing: border-box;
}

/* lato font info {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-weight: 700;
} */

body {
    width: 320px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #F5F9F9;
    color: #304659;
    font-family: "Lato", sans-serif;
}

/* HEADER */

header {
    border-bottom: 1px solid #D5DEE6;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

/* HEADER - MOBILE */

.mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.mobile-nav span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* MAIN */

main {
    position: relative;
    margin-bottom: 18rem;
}

main span {
    text-transform: uppercase;
    color: #8197AA;
}

main input, main button {
    width: 100%;
}

main input {
    background-color: #E1E9F0;
    border: none;
    padding: .5rem;
    margin-bottom: .5rem;
}

main input::placeholder {
    color: #304659;
}

main button {
    background-color: #304659;
    color: #F5F9F9;
}

main img {
    width: 100%;
    position: absolute;
    right: -1rem;
    margin-top: 1rem;
}