body * {
    box-sizing: border-box;
    text-align: center;
    border: 1px solid black;
    height: 50px;
}

section + section{
    width: 50%;
    float: left;
}

header, footer {
    clear: both;
}