body * {
    box-sizing: border-box;
    text-align: center;
    border: 1px solid black;
}

section {
    height: 75px;
}

section + section{
    float: left;
}

.second {
    width: 40%;
}

.third {
    width: 60%;
}

header, footer {
    clear: both;
    height: 50px;
}