* {
    box-sizing: border-box;
}

body {
    outline: 1px solid red;
    font-family: Arial, Helvetica, sans-serif;
}

.welcome {
    outline: 1px solid orange;
    margin: 2rem 0 5rem;
}

.welcome h1 {
    outline: 1px solid red;
    float: left;
    margin: 0;
}

.welcome h3 {
    outline: 1px solid red;
    float: right;
    margin: 0;
    color: #999999;
    font-size: 1.5rem;
    font-weight: 400;
}

/* ABOVE THE FOLD */

.above-the-fold {
    clear: both;
}

main {
    float: left;
    width: 49.5%;
    outline: 1px solid blue;
    margin-right: .5%;
}

.background-img {
    background-size: cover;
    background-repeat: no-repeat;
    height: 10rem;
}

/* TOP STORIES */

.top-stories {
    float: left;
    width: 49.5%;
    outline: 1px solid blue;
    margin-left: .5%;
}

.top-stories section {
    outline: 1px solid violet;
    width: 49%;
}

.left-story {
    float: left;
    margin-right: .5%;
}

.right-story {
    float: right;
    margin-left: .5%;
}

.top-1 {
    background-image: url("canada-us.webp");
    margin-bottom: 1.5%;
}

.top-2 {
    background-image: url("vaccine.webp");
    margin-bottom: 1.5%;
}

.top-3 {
    background-image: url("productivity-gyms.webp");
}

.top-4 {
    background-image: url("victor-jara.webp");
}

/* NEWS */

h2 {
    border-left: 2px solid red;
    padding-left: .5rem;
    clear: both;
}

.news h3 {
    margin-bottom: 0;
}

.news span {
    color: #999999;
    border-left: 1px solid red;
    padding-left: .5rem;
}

.news section {
    float: left;
    width: 32.3333%;
}

.news-1 {
    margin-right: .5rem;
}

.news-2 {
    margin-right: .6rem;
    margin-left: .6rem;
}

.news-3 {
    margin-left: .5rem;
}

.news img {
    width: 100%;
}