* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.welcome {
    margin: 2rem 0 5rem;
    clear: both;
}

.welcome h1 {
    float: left;
    margin: 0;
}

.welcome h3 {
    float: right;
    margin: 0;
    color: #999999;
    font-size: 1.5rem;
    font-weight: 400;
}

/* HEADER */

header {
    background-color: black;
    color: white;
    height: 3rem;
}

header > * {
    float: left;
}

header > div {
    width: 22.5%;
}

.logo-area {
    padding: .5rem 0 0 .25rem;
}

.logo-area div {
    float: left;
}

.logo-area button {
    margin: .25rem 0 0 1rem;
    padding-left: 1.5rem;
    height: 1.5rem;
    border: none;
    background-color: black;
    color: white;
    font-weight: 600;
    background-image: url("sign-in.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.logo-area button:hover {
    cursor: pointer;
}

/* NAV */

header > nav {
    width: 77.5%;
}

.top-nav li {
    float: left;
    list-style: none;
    width: 5rem;
}

.top-nav a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: .9rem
}

nav select {
    background-color: black;
    color: white;
    width: 5rem;
    font-weight: 600;
}

nav input {
    background-image: url("magnifying-glass.svg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    font-weight: 600;
}

/* ABOVE THE FOLD */

.above-the-fold {
    clear: both;
}

main {
    float: left;
    width: 49.5%;
    height: 20.55rem;
    margin-right: .5%;
    position: relative;
    background-image: url("israel-uae.webp");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

main div h3 {
    position: absolute;
    bottom: 3.75rem;
    width: 95%;
    font-size: 2rem;
    font-weight: 400;
}

main div p {
    position: absolute;
    bottom: 1.75rem;
    color: #dddddd;
    width: 95%;
}

main div span {
    position: absolute;
    bottom: .75rem;
    color: #dddddd;
    text-transform: uppercase;
    font-size: .9rem;
}

.background-img {
    background-size: cover;
    background-repeat: no-repeat;
    height: 10rem;
}

.gradient {
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.7));
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: .75rem;
}

/* TOP STORIES */

.top-stories {
    float: right;
    width: 49.5%;
    margin-left: .5%;
}

.top-stories section {
    width: 49%;
    color: white;
    position: relative;
}

.top-stories section h3 {
    position: absolute;
    bottom: 1.5rem;
    font-weight: 400;
}

.top-stories section p {
    position: absolute;
    bottom: 0;
    color: #dddddd;
    text-transform: uppercase;
    font-size: .9rem;
}

.left-story {
    float: left;
    margin-right: .5%;
}

.right-story {
    float: right;
    margin-left: .5%;
}

.top-1 {
    background-image: url("canada-us.webp");
    margin-bottom: 1.5%;
}

.top-2 {
    background-image: url("vaccine.webp");
    margin-bottom: 1.5%;
}

.top-3 {
    background-image: url("productivity-gyms.webp");
}

.top-4 {
    background-image: url("victor-jara.webp");
}

/* NEWS */

h2 {
    border-left: 2px solid red;
    margin-top: 24rem;
    padding-left: .5rem;
    clear: both;
}

.news h3 {
    margin-bottom: 0;
}

.news span {
    color: #999999;
    border-left: 1px solid red;
    padding-left: .5rem;
}

.news section {
    float: left;
    width: 32.3333%;
    margin-bottom: 1rem;
}

.news-1 {
    margin-right: .5rem;
}

.news-2 {
    margin-right: .6rem;
    margin-left: .6rem;
}

.news-3 {
    margin-left: .5rem;
}

.news img {
    width: 100%;
}