* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", Helvetica, sans-serif;
}

body {
  background: #222f40;
}

body > h1 {
  color: #f0ecec;
  margin: 1rem 0 0 1rem;
  letter-spacing: .1rem;
}

.drink h1 {
  font-size: 1.5rem;
  margin-bottom: .25rem;
}

h2 {
  font-size: 1.25rem;
  margin: .5rem 0;
}

p {
  font-size: .9rem;
}

img {
  width: 100%;
  margin-top: auto;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

/* MENU */

.menu {
  padding: 1rem;
}

.menu h2 {
  color: #f0ecec;
  letter-spacing: .1rem;
  margin-top: 1rem;
  border-top: 1px solid #888888;
  padding-top: .75rem;
}

button {
  width: 4rem;
}

input, select {
  width: 12.5rem;
}

/* RENDER AREA */

.render-area {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

/* RENDER DRINKS */

.drink {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  background: #f0ecec;
  height: 100%;
  padding: .5rem;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.detail {
  font-style: italic;
  font-size: .9rem;
}

.ingredients {
  margin-bottom: .5rem;
}

/* RENDER SPIRITS */

.spirit {
  color: #f0ecec;
  padding: 1rem;
}

.spirit-desc {
  margin-top: 1rem;
}

.spirit-desc p {
  margin-bottom: 1rem;
}

/* MEDIA QUERIES */

@media screen and (min-width: 480px) {
  .render-area .drink:nth-last-child(1) {
    margin-left: .75rem;
  }

  .drink {
    width: 45%;
  }
}

@media screen and (min-width: 720px) {
  .drink {
    width: 30%;
  }
}

@media screen and (min-width: 1080px) {
  .drink {
    width: 23.5%;
  }
}

@media screen and (min-width: 1440px) {
  .drink {
    width: 19%;
  }
}