* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", Helvetica, sans-serif;
}

.drink h1 {
  font-size: 1.5rem;
  margin-bottom: .25rem;
}

h2 {
  font-size: 1.25rem;
  margin: .5rem 0;
}

p {
  font-size: .9rem;
}

img{
  width: 100%;
  margin-top: auto;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.drinks {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.drink {
  background-image: linear-gradient(rgb(240, 236, 236), white);
  width: 90%;
  margin: 0 auto 2rem;
  display: flex;
  flex-direction: column;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.drinks .drink:nth-last-child(1) {
  margin-left: .5rem;
}

.container {
  padding: .5rem;
  display: flex;
  flex-direction: column;
}

.glass {
  font-style: italic;
  font-size: .9rem;
}

.ingredients {
  margin-bottom: .5rem;
}

/* MEDIA QUERIES */

@media screen and (min-width: 480px) {
  .drink {
    width: 45%;
  }
}

@media screen and (min-width: 720px) {
  .drink {
    width: 30%;
  }
}

@media screen and (min-width: 1080px) {
  .drink {
    width: 23.5%;
  }
}

@media screen and (min-width: 1440px) {
  .drink {
    width: 19%;
  }
}