/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  width: 100%;
}

.drinks {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.drink {
  outline: 1px solid red;
  width: 90%;
  margin: 0 auto;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
