.colors {
    color: #F5F5F5; /* whitesmoke */
    color: #DAC6C5; /* pinkish */
    color: #FF8800; /* dark orange */
    color: #FFAA4D; /* light orange */
    color: #252525; /* near black */
}

.maiden-orange-regular {
    font-family: "Maiden Orange", serif;
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* max-width: 1080px; */
    margin: auto;
    background-color: #252525;
    color: #F5F5F5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2 {
    font-family: "Maiden Orange", serif;
}

.bk {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section-tag {
    color: #FFAA4D;
    margin-bottom: .5rem;
    display: inline-block;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 1rem 1rem 9rem 1rem;
    background-image: url("img/bk-01.jpg");

}

header img:hover {
    cursor: pointer;
}

header > img {
    background-color: #FF8800;
    width: 2.5rem;
    height: 2rem;
    border-radius: .5rem;
    outline: 1px solid #FFAA4D;
}

/* NAV */

.nav-container {
    display: flex;
}

.widescreen-nav {
    display: none;
}

.mobile-nav {
    color: #FF8800;
    font-size: 1.5rem;
    font-weight: 400;
    margin-left: 1rem;
}

.mobile-nav:hover {
    cursor: pointer;
}

.nav-cart-search {
    display: flex;
}

.nav-cart-search img {
    background-color: #FF8800;
    height: 2rem;
    width: 2rem;
    border-radius: .75rem;
    margin: 0 1rem;
    padding: .25rem;
}

/* MAIN */

main {
    background-image: url("img/bk-main.png");
    padding: 2rem 0;
    border-top: 1px solid #FFAA4D;
    border-bottom: 1px solid #FF8800;
}

main h1 {
    margin-bottom: 2rem;
    font-size: 2.75rem;
    font-weight: 400;
    color: #FF8800;
    padding: .5rem 1rem;
}

main form {
    padding: 0 1rem;
}

main form > * {
    width: 100%;
}

main form input {
    padding: .5rem .5rem .5rem 1.75rem;
    background-image: url("img/magnifying-glass.svg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    border-radius: .25rem;
    margin-bottom: .75rem;
}

main form button {
    border: none;
    border-radius: .25rem;
    padding: .5rem;
    background-color: #FF8800;
    color: #F5F5F5;
}

.social-media {
    margin: 2rem 0 0 1rem;
}

.social-media span {
    margin-right: 1.75rem;
}

.social-media img {
    width: 1rem;
}

/* ABOUT US */

.about-us {
    padding: 2rem 0;
    background-image: url("img/bk-03.jpg");
}

.about-us > span {
    margin-left: .5rem;
    margin-bottom: .25rem;
    padding: .25rem .5rem 0;
    border-radius: .25rem;
    background-color: rgba(37, 37, 37, .5);
}

.about-us h2 {
    font-size: 2.25rem;
    font-weight: 400;
    color: #FF8800;
    margin-bottom: 2rem;
    background-color: rgba(37, 37, 37, .5);
    padding: .5rem 1rem;
}

.about-us p {
    margin-bottom: 1rem;
    background-color: rgba(37, 37, 37, .5);
    padding: .5rem 1rem;
}

.about-us button {
        border: none;
        color: #F5F5F5;
        margin: 1rem 0 0 1rem;
}

.about-us button span:first-child {
    background-color: #FF8800;
    padding: .5rem;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.about-us button span + span {
    background-color: #FFAA4D;
    padding: .5rem;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

/* SPECIALTY */

.specialty {
    padding: 2rem 0;
    background-image: url("img/bk-04.jpg");
}

.specialty span {
    margin-left: .5rem;
    margin-bottom: .25rem;
    padding: .25rem .5rem 0;
    border-radius: .25rem;
    background-color: rgba(37, 37, 37, .5);
}

.specialty h2 {
    font-size: 2.25rem;
    font-weight: 400;
    color: #FF8800;
    margin-bottom: 2rem;
    background-color: rgba(37, 37, 37, .5);
    padding: .5rem 1rem;
}

.specialty ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
}

.specialty li {
    border: 1px solid #FF8800;
    border-radius: .25rem;
    background-color: #252525;
    width: 7rem;
    margin: .25rem;
    padding: .25rem .5rem;
    text-align: center;
}

.specialty a {
    color: #F5F5F5;
    text-decoration: none;
}

/* ORDERS */

.orders {
    padding: 2rem 1rem;
}

.orders-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.orders-images-2 {
    display: none;
}

.orders-images img {
    border: 1px solid #FF8800;
    width: 40%;
}

.orders-images img:hover {
    cursor: pointer;
    border: 1px solid #FFAA4D;
}

.orders-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    color: rgba(255, 136, 0, .4);
}

.selected-order {
    color: #FF8800;
    font-size: 1.5rem;
}

/* BOOK TABLE */

.book-table > span {
    margin-left: 1rem;
}

.book-table h2 {
    font-size: 2.25rem;
    font-weight: 400;
    color: #FF8800;
    padding: .5rem 1rem;
}

.phone {
    margin: 2rem 1rem 1rem;
}

.phone div {
    display: flex;
    align-items: center;
    margin-bottom: .75rem;
}

.phone img {
    width: 2rem;
    margin-right: .5rem;
}

.tel {
    color: #FF8800;
    font-size: 1.5rem;
    text-decoration: none;
}

.hours {
    padding-left: 1rem;
}

.hours div {
    margin-bottom: 1rem;
}

.days {
    color: #FF8800;
    font-size: .9rem;
    line-height: 2rem;
}

.book-table-carousel {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    gap: .5em;
    margin: 2rem 0 3rem;
}

.book-table-carousel span {
    border: 1px solid #FF8800;
    border-radius: 50%;
    color: #FF8800;
    width: 1.75rem;
    text-align: center;
}

.carousel {
    width: 100%;
    padding-top: 56.25%;
    background-image: url("img/book-table.jpg");
}

/* TESTIMONIALS */

.testimonials {
    padding: 0 1rem 3rem;
}

.testimonials h2 {
    font-size: 2.25rem;
    font-weight: 400;
    color: #FF8800;
    margin-bottom: 2rem;
}

.testimonials section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 800px;
}

.testimonials img {
    border-radius: 50%;
    margin-bottom: 1rem;
}

.testimonials-name {
    font-size: 1.25rem;
    font-weight: 600;
}

.testimonials-title {
    font-size: .9rem;
    color: grey;
    margin-bottom: 1rem;
}

.testimonials-review {
    margin-bottom: 1rem;
}

.testimonials section .rating {
    color: #FFAA4D;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

/* MEDIA QUERIES */

@media screen and (min-width: 480px) {
    main h1 {
        display: inline-block;
    }

    main form input {
        width: 75%;
    }

    main form button {
        width: 25%;
        margin-left: -.5rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

@media screen and (min-width: 640px) {
    .main-head {
        display: flex;
        align-items: center;
    }

    main h1 {
        margin-bottom: 0;
    }

    main form {
        display: inline-block;
    }

    main form input, main form button {
        width: 100%;
        border-radius: .25rem;
    }

    main form button {
        margin-left: 0;
    }

    .orders-images {
        gap: 1.5rem;
    }
    
    .orders-images img {
        width: 20%;
    }

    .about-us > span {
        margin-left: 0;
        padding: .25rem 0 0 30%;
        background-color: inherit;
    }
    
    .about-us h2 {
        padding: .5rem 1rem .5rem 30%;
        background-color: inherit;
    }
    
    .about-us p {
        padding: .5rem 1rem .5rem 30%;
        background-color: inherit;
    }
    
    .about-us button {
        margin: 1rem 0 0 30%;
    }

    .about-bk {
        display: inline-block;
        background-color: rgba(37, 37, 37, .5);
        padding: .5rem;
        margin-left: -.5rem;
        border-radius: .5rem;
    }

    .specialty div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .specialty span {
        margin-left: 0;
        margin-bottom: .25rem;
        padding: .25rem .5rem 0;
    }

    .book-table, .phone {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hours {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .testimonials {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 720px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 800px) {
    .mobile-nav {
        display: none;
    }

    .widescreen-nav {
        display: flex;
        margin-right: .75rem;
    }

    .widescreen-nav ul {
        list-style: none;
        display: flex;
    }
    
    .widescreen-nav a {
        font-size: .7rem;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        background-color: rgba(37, 37, 37, .5);
        color: #F5F5F5;
        width: 5rem;
        margin: 0 .25rem;
        padding: .25rem 0;
        border: 1px solid rgba(37, 37, 37, .5);
        border-radius: .25rem;
    }

    .widescreen-nav a:hover {
        border: 1px solid #FFAA4D;
    }

    .nav-cart-search img {
        margin: 0 .75rem;
        padding: .25rem;
    }

    .orders-images-2 {
        display: inline-block;
    }
}