.colors {
    color: #F5F5F5; /* whitesmoke */
    color: #DAC6C5; /* pinkish */
    color: #FF8800; /* dark orange */
    color: #FFAA4D; /* light orange */
    color: #252525; /* near black */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* max-width: 1080px; */
    max-width: 320px;
    margin: auto;
    background-color: #252525;
    color: #F5F5F5;
}

/* HEADER */

header {
    display: flex;
}

header > * {
    outline: 1px solid red;
}

/* MAIN */

main form > * {
    width: 100%;
}

main form input {
    padding: .5rem .5rem .5rem 1.75rem;
    background-image: url("img/magnifying-glass.svg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    border-radius: .25rem;
    margin-bottom: .75rem;
}

main form button {
    border: none;
    border-radius: .25rem;
    padding: .5rem;
    background-color: #FF8800;
    color: #F5F5F5;
}

main form img {
    width: 1rem;
}

.social-media {
    margin-top: 2rem;
}

.social-media span {
    margin-right: 2rem;
}